@media (max-width : 767px) {

    /* Welcome and menu options */
    #upper-head {

        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #7b3f00;
        height: 47px;
        color: white;

        p {

            font-size: 16px;
            font-weight: 600;
            position: relative;
            left: 1.5%;

        }

        i {
            font-size: 25px;
            cursor: pointer;
        }

    }

    /* Navbar options */
    #lower-head {

        height: 459px;
        background-color: #7b3f00;
        margin: -1px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2px;

        .navbar-option {

            background-color: white;
            padding: 11px 5%;
            margin: -1px 0px 0px 0px;
            width: 90%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            p, i { font-size: 12px; }

        }

    }

    /* Banner image */
    #banner-image {

        width: 390px;
        height: 85px;
        object-fit: contain;
        margin: 15px 0px 10px 0px;

    }

}